[defaults]
inventory = localhost,
# This tells Ansible exactly which Python to use on macOS
host_key_checking = False
# Silence the "discovered Python" warnings for Fedora 42/RHEL 10
interpreter_python = auto_silent

# Silence deprecation warnings for a cleaner UI
deprecation_warnings = False

# Increase the number of parallel processes (good for your 4-node lab)
forks = 10

[ssh_connection]
pipelining = false

[privilege_escalation]
become = false
become_method = sudo
become_user = root
become_ask_pass = false
ansible_become_executable = /usr/bin/sudo
[galaxy]
server_list = automation_hub

[environment]
OBJC_DISABLE_INITIALIZE_FORK_SAFETY = YES


